.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-cursor: pointer;
}

#welcomeText {
    -fx-text-fill: rgb(169, 169, 255);
    -fx-font-size: 36px;
}

#receivedMsg {
    -fx-control-inner-background: rgb(150, 211, 232);
    -fx-alignment: bottom-left;
    -fx-text-align: bottom-center;
}

.title {
    -fx-font-size: large;
}

.VBox {
    -fx-background-color: rgb(4, 45, 57);
}

#titleText {
    -fx-text-fill: #4CAF50;
    -fx-font-size: 40px;
}
